@model GameWeb.Models.CharactersViewModel

<h1>Welcome @Model.hero.heroName</h1>
<p style="font-size:2em;"> @Model.alien.warning</p>
@using (Html.BeginForm("FightEnemy","Home",FormMethod.Post)){

@Html.HiddenFor(model => model.alien.alienName, new { @class = "form-control" })
@Html.HiddenFor(model => model.alien.healthPoints, new { @class = "form-control" })
@Html.HiddenFor(model => model.hero.heroLives, new { @class = "form-control" })
@Html.HiddenFor(model => model.hero.heroName, new { @class = "form-control" })

<ul style="list-style: none;">
    <li><img width="100px" height="100px" src=@Model.drawing.alienDraw /></li>
    <li>Healthpoints Remaining @Model.alien.healthPoints</li>
</ul>

<div style="padding-top:3em;"></div>

<h2>Select your weapon below</h2>    

<div style="padding-top:3em;">
    <select class="form-control" id="selectedWeapon" name="selectedWeapon">
    @for(var i = 0; i < 3; i++){
        <option value=@Model.weapon.weapons[i,1]>@Model.weapon.weapons[i,0]</option>
    }
    </select>
</div>


<input type="Submit" value="Save"/>



}