@model GameWeb.Models.CharactersViewModel


@using (Html.BeginForm("FightEnemy","Home",FormMethod.Post)){


@Html.TextBoxFor(model => model.alien.alienName, new { @class = "form-control" }) 



@Html.Display("A wild " + model.alien.alienName +"appeared.")
@Html.Display(model.drawing.alienDraw)
@Html.Display("He has "+model.alien.healthPoints+"health points")

<div style="padding-top:3em;">

<h2>Select your weapon below<h2>    

<div style="padding-top:3em;">
<select class="form-control" id="selectedWeapon" name="selectedWeapon">
@for(var i = 0; i < 3; i++){
    <option value=@Model.weapon.weapons[i,1]>@Model.weapon.weapons[i,0]</option>
}
</select>
</div>
<input type="Submit" value="Save"/>

}