@model GameWeb.Models.CharactersViewModel

@using (Html.BeginForm("BeginGame","Home",FormMethod.Post)){
    <div style="margin:2em;">
        @Html.TextBoxFor(model => model.hero.heroName, new { @class = "form-control"})
        @Html.TextBoxFor(model => model.hero.age, new { @class = "form-control"})
   
        <button type="submit">Begin Game</button>
    </div>


}
<h2>Winners!</h2>

  <ul>
@foreach(var user in Model.scoreBoard){
  
<li>@user.name | @user.age | @user.timePlayed</li>
}
</ul>

